@import './../../constants.less';

.entry() {
  li {
    span,svg {
      .text-grey-c()
    }
    &:hover {
      span,svg {
        .text-light-c()
      }
    }
  }
}

@searchform-bg-color: hsla(0,0%,100%,.18);
@searchform-placeholder-color: hsla(0,0%,100%,.6);
@searchform-caret-color: #FAFAFA;

.center() {
    #nav-searchform {
        border: none;
        background-color: @searchform-bg-color;
        &:hover {
            border: none;
            background-color: @searchform-bg-color;
        }
        .nav-search-input {
            &::placeholder {
                color: @searchform-placeholder-color;
            }
            &:active, &:focus {
                background-color: transparent;
            }
            caret-color: @searchform-caret-color;
        }
        .nav-search-btn {
            color: @searchform-placeholder-color;
            &:hover {
                background-color: transparent;
                .text-light-c();
            }
        }
    }
    #nav-searchform.is-focus {
        border: none;
        background-color: @searchform-bg-color;
        .nav-search-content {
            background-color: @searchform-bg-color;
        }
    }
    .search-panel {
      background-color: #24272d;
      border: none;
      .header {
        .text-light-c();
      }
      .history-item {
        .bg-grey-c();
        .text-grey-c();
      }
      .trending-item {
        .trendings-rank {
          .text-light-c();
        }
        .trending-text {
          .text-grey-c();
        }
        &:hover {
          background-color: currentColor;
          border-radius: 6px;
        }
      }
    }
}


.bili-header__bar {
  background-color: #0c0c0dbf;
  backdrop-filter: blur(32px);
  .left-entry {
    .entry();
  }
  .center-search-container {
    .center();
  }
  .right-entry {
    .entry();
    .header-upload-entry {
      span,svg {
        .text-light-c();
      }
    }
  }
}

.slide-down {
  box-shadow: none !important;
}
