/* siwtch-圆样式及动画设置 */
.switch::before {
  content: '';
  width: 27px;
  height: 27px;
  border-radius: 80px;
  background-color: #fff;
  background-image: url('./icons/sun-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px auto;
  transition: all 0.3s ease;
  position: relative;
  margin-left: 0;
  box-shadow: 2px 4px 10px -2px #fbcfe8;
}

/* checked时颜色变化 */
[type='checkbox']:checked + .switch {
  background-color: #1f1f1f;
}

/* checked时圆的位置变化 */
[type='checkbox']:checked + .switch::before {
  margin-left: 22px;
  background-color: #313131;
  background-image: url('./icons/moon-icon.svg');
  box-shadow: -2px 4px 10px -2px #000;
}

/* 圆圈长按时添加形变类:circie-screw, ps: 此时未checked */
.switch.circle-screw::before {
  width: 36.3px;
}

/* unchecked时长按效果, 达到 */
[type='checkbox']:checked + .switch.circle-screw::before {
  width: 36.3px;
  margin-left: 12px;
}
