@import './../../constants.less';

.bili-video-card__wrap {
  padding: 10px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  .bg-grey-c();
  .border-grey-c();

  .bili-video-card__cover {
    background-color: #27272a;
  }

  .bili-video-card__info--tit {
    a {
      .text-light-c();
    }
  }
}

.bili-video-card .loading_animation .bili-video-card__skeleton--light,
.bili-video-card .loading_animation .bili-video-card__skeleton--text,
.bili-video-card .loading_animation .bili-video-card__skeleton--face,
.bili-video-card .loading_animation .bili-video-card__skeleton--cover {
  background: linear-gradient(-45deg, #303030 25%, #424243 45%, #303030 65%);
  background-size: 400% 100%;
  animation: skeleton-loading 1.2s ease-in-out infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
