// text
.text-light-c() {
  color: #FAFAFA;
}
.text-grey-c() {
  color: #A1A1AA;

}

// bg
.bg-grey-c() {
  background-color: #18181B;
  &:hover {
    background-color: #27272A;
  }
}

// border
.border-grey-c() {
  border-color: #27272A;
}

